<div class="contents contacts">
	<%if(items.length){
	  _.each(items, function(bizpart) { 
		if(bizpart.items.length === 0){ return; }
	  %>
    <div class="list_contacts" style="position: relative;">
        <h1 class="tit close"><%-bizpart.bizpart_name%> <span>(<%-bizpart.items.length%>)</span></h1><!-- fixed시 .fixed -->
        <ul class="list" style="display: none;">
            <% _.each(bizpart.items, function(item) { %>
            <li data-id="<%-item.mem_id%>">
				<div class="contacts_summary">
					<div class="identity">
							<span class="img" style="background-image:url('<%-(item.picture ? '/image?size=thumb&img='+encodeURIComponent(item.picture) : '/images/noimg_120x80.png')%>');"></span>
							<span class="txt">
								<span class="name"><%-item.name%></span>
								<span class="position"><%-item.rank_name%></span>
							</span>
					</div>
					<div class="wrap_btn">
						<a href="tel:<%-item.mobile%>" class="btn_ico phone"><span class="hide">전화</span></a>
						<a href="sms:<%-item.mobile%>" class="btn_ico sms"><span class="hide">문자</span></a>
						<a href="mailto:<%-item.email%>" class="btn_ico email"><span class="hide">이메일</span></a>
						<a href="#" class="btn_ico bookmark <%-(item.bookmark>0?'on':'')%>" data-id="<%-item.mem_id%>" data-type="member"><span class="hide">즐겨찾기</span></a>
					</div>
				</div>
            </li>
            <% }); %>
        </ul>
        <h1 class="fake_tit" style="padding: 4px 8px;background-color: #6742c7;color: #fff;font-size: 16px;line-height: 1.6em;position: absolute;bottom: 0;left:0;right:0;height:25px;visibility: hidden;"><%-bizpart.bizpart_name%></h1><!-- fixed시 .fixed -->
    </div>
    <% }); 
	} else {%>
		<div class="noSearch">
			<p>검색된 결과가 없습니다.</p>
		</div>
	<%}%>
</div>
