				<article class="contacts_detail on">
					<div class="identity">
						<span class="img" style="background-image:url('<%-(member.picture ? '/image?img='+encodeURIComponent(member.picture) : '/images/noimg_120x80.png')%>');">
						</span>
						<span class="txt">
							<span class="name"><%-member.name%></span>
							<span class="position"><%-member.rank_name%></span>
						</span>
                    </div>
                    <button type="button" class="btn_ico bookmark <%-(member.bookmark>0?'on':'')%>" data-id="<%-member.mem_id%>" data-type="member"><span class="hide">즐겨찾기</span></button>
                    <div class="wrapper">
                        <div class="scroller" style="width:100%;position:absolute;user-select: none; transform: translateZ(0);">
                            <ul class="contacts">
                                <li>
                                    <a href="tel:<%-member.mobile%>" class="btn_ico phone"><span class="hide">전화</span></a>
                                    <div class="cntt">
                                        <a href="tel:<%-member.mobile%>"><%-member.mobile%></a>
                                        <em>모바일</em>
                                    </div>
                                    <a href="sms:<%-member.mobile%>"  class="btn_ico sms"><span class="hide">문자</span></a>
                                </li>
                                <li>
                                    <a href="tel:<%-member.tel%>" class="btn_ico phone"><span class="hide">전화</span></a>
                                    <div class="cntt">
                                        <% if(!member.tel){%><span>-</span><%} else {%><a href="tel:<%-member.tel%>"><%-member.tel%></a><% } %>
                                        <em>내선</em>
                                    </div>
                                </li>
                                <li>
                                    <a href="mailto:<%-member.email%>" class="btn_ico email"><span class="hide">이메일</span></button>
                                        <div class="cntt">
                                            <a href="mailto:<%-member.email%>"><%-member.email%></a>
                                            <em>이메일</em>
                                        </div>
                                    </a>
                                </li>
                            </ul>
							<dl class="include">
								<dt>배정</dt>
								<%if(member.projects.length > 0){%>
									<%_.each(member.projects, function(item){%>
									<dd><a href="/projects/<%-item.prj_id%>"><%-item.name%></a></dd>
									<%});%>
								<%} else {%>
									<dd class="null">배정된 프로젝트가 없습니다.</dd>
								<%}%>
							</dl>
                            <dl class="class">
                                <dt>부서</dt>
                                <dd><%-member.bizpart_name%></dd>
                            </dl>
                            <dl class="class">
                                <dt>직위</dt>
                                <dd><%-member.rank_name||'-'%></dd>
                            </dl>
                            <dl class="class">
                                <dt>직책</dt>
                                <dd><%-member.posit_name||'-'%></dd>
                            </dl>
                        </div>
                    </div>
					<button type="button" class="btn_ico close_detail"><span class="hide">닫기</span></button>
				</article>
