
	<h1 class="tit"><em>'<%-name%>'</em> 이(가) 등록된 폴더</h1>

	<div class="cntt">
		<div class="bookmark_check">
			<ul>
			<%if(items.length === 0){%>
				<li>북마크 정보가 없습니다.</li>
			<%}else{%>
				<%_.each(items, function(item){%>
				<li>
					<div class="depth">
					<%_.each(item.paths, function(path, i){%>
						<%-(i>0?" > ":"")%>
						<span style="font-size: 14px;"><%-path.name%></span>
					<%});%>
					</div>
					<button type="button" class="btn_ico delete" data-bm-id="<%-item.bm_id%>"><span class="hide">삭제</span></button>
				</li>
				<%});%>
			<%}%>
			</ul>
			<div class="wrap_btn">
				<button type="button" class="btn_gt bookmark-add">즐겨찾기 추가</button>
			</div>
		</div>
	</div>

	<button type="button" class="btn_ico close"><span class="hide">닫기</span></button>