<article class="mypage">
	<form action="/api/mypage/detail" method="post" enctype="multipart/form-data">
	<!-- <h1 class="tit"><%-member.bizpart_name%></h1> -->
	<div class="identity">
		<span class="img" style="background-image:url('<%-(member.picture ? '/image?img='+encodeURIComponent(member.picture) : '/images/noimg_120x80.png')%>');"></span>
		<span class="txt">
			<span class="name"><%-member.name%></span>
			<span class="position"><%-member.rank_name%></span>
		</span>
		<span class="file">
			<input type="file" name="picture">
		</span>
	</div>
	<div class="info">
		<div class="scroll">
			<ul class="contacts">
				<li>
					<div class="cntt">
						<label for="email">이메일</label>
						<div class="inpt">
							<input type="text" value="<%-member.email%>" class="txt disabled" id="email" disabled="disabled">
						</div>
					</div>
				</li>
				<li>
					<div class="cntt">
						<label for="pw">비밀번호</label>
						<div class="inpt">
							<input type="password" class="txt" id="pw" name="passwd">
						</div>
					</div>
				</li>
				<li>
					<div class="cntt">
						<label for="cPw">비밀번호<br>확인</label>
						<div class="inpt">
							<input type="password" class="txt" id="cPw" name="cfmpasswd">
						</div>
					</div>
				</li>
			</ul>		
			<ul class="contacts">
				<li>
					<div class="cntt">
						<label for="cNum">내선</label>
						<div class="inpt">
							<input type="text" class="txt" id="cNum" name="tel" value="<%-member.tel%>">
						</div>
					</div>
				</li>
				<li>
					<div class="cntt">
						<label for="mNum">모바일</label>
						<div class="inpt">
							<input type="text" class="txt" id="mNum" name="mobile" value="<%-member.mobile%>">
						</div>
					</div>
				</li>
			</ul>

			<div class="wrap_btn">
				<button class="btn_gt">수정</button>
			</div>

			<dl class="include">
				<dt>배정</dt>
				<%if(member.projects.length > 0){%>
					<%_.each(member.projects, function(item){%>
					<dd><a href="/projects/<%-item.prj_id%>"><%-item.name%></a></dd>
					<%});%>
				<%} else {%>
					<dd class="null">배정된 프로젝트가 없습니다.</dd>
				<%}%>
			</dl>
			<dl class="class">
				<dt>부서</dt>
				<dd><%-member.bizpart_name%></dd>
			</dl>
			<dl class="class">
				<dt>직위</dt>
				<dd><%-member.rank_name%></dd>
			</dl>
			<dl class="class">
				<dt>직책</dt>
				<dd><%-member.posit_name%></dd>
			</dl>
		</div>
	</div>
	</form>
</article>
